<div
  id="add-modal"
  role="dialog"
  tabindex="-1"
  aria-modal="true"
  aria-label="Show options to upload files or create folders"
  class="translate-y-full fixed bottom-0 left-0 min-h-screen w-full flex flex-col justify-end sm:justify-center bg-zinc-950/10 dark:bg-zinc-950/50 backdrop-blur z-[60] transition-transform duration-200"
>
  <div
    class="absolute bottom-0 left-0 min-h-[33vh] w-full flex-col bg-zinc-50 dark:bg-zinc-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl p-5"
  >
    <div class="flex justify-end mb-8">
      <button
        type="button"
        aria-label="Close add modal"
        class="close-modal-btn p-1 sm:opacity-50 sm:hover:opacity-100 transition-all rounded-full focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-zinc-400"
      >
        <%- icon({name: 'X'}) %>
      </button>
    </div>

    <ul class="flex-grow flex flex-col gap-8">
      <li>
        <button
          id="upload-btn-for-mobile"
          type="button"
          class="upload-modal-trigger w-full flex items-center gap-4 rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span>
            <%- icon({name: 'ImageUp', size: 24}) %>
          </span>
          <span>Upload file</span>
        </button>
      </li>

      <li>
        <button
          id="folder-btn-for-mobile"
          type="button"
          class="folder-form-modal-trigger w-full flex items-center gap-4 rounded-md focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span>
            <%- icon({name: 'FolderPlus', size: 24}) %>
          </span>
          <span>New folder</span>
        </button>
      </li>
    </ul>
  </div>
</div>

<script type="module" src="/scripts/components/modals/add-modal.js"></script>
