<div
  id="search-modal"
  role="dialog"
  aria-modal="true"
  tabindex="-1"
  aria-label="Search for files on mobile"
  class="translate-y-full fixed inset-0 bg-gray-950/10 dark:bg-gray-950/50 backdrop-blur z-[60] transition-transform duration-200"
>
  <div class="flex flex-col min-h-full h-full py-5 bg-gray-50 dark:bg-gray-900">
    <!-- Back button -->
    <div class="flex items-center gap-2 mb-2 px-5">
      <button type="button" class="close-modal-btn text-xl px-1 rounded-md">
        &#x2190;
      </button>

      <div class="results-counter"></div>
    </div>

    <!-- Search form -->
    <div class="px-5">
      <form
        action="/search"
        method="get"
        class="search-form relative"
        novalidate
      >
        <div
          id="search-indicator-mobile"
          class="size-5 absolute top-1/2 -translate-y-1/2 left-3 text-gray-500"
          aria-hidden="true"
        >
          <%- icon({ name: 'Search' }) %>
        </div>
        <label for="search" class="sr-only">Search for folders or files</label>
        <input
          type="text"
          name="q"
          value="<%= typeof q !== 'undefined' ? q : '' %>"
          aria-label="Search input"
          autocomplete="off"
          spellcheck="false"
          class="w-full pl-12 h-12 pr-8 outline-none rounded-md placeholder:text-gray-500 placeholder:font-light border border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-800"
          placeholder="Search..."
        />

        <button
          type="button"
          aria-label="Clear search"
          class="opacity-0 absolute top-1/2 right-3 -translate-y-1/2 size-6 text-gray-500 cursor-pointer p-0.5 rounded-full dark:hover:text-gray-100 hover:text-gray-900 transition-all duration-200"
        >
          <%- icon({ name: 'X' }) %>
        </button>
      </form>
    </div>

    <!-- Search results -->
    <div
      id="search-results-for-mobile"
      class="grid grid-cols-2 gap-5 mt-5 px-5 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-200 dark:scrollbar-thumb-gray-800 scrollbar-track-transparent"
    ></div>
  </div>
</div>

<script type="module" src="/scripts/components/modals/search-modal.js"></script>
