<div
  id="update-password-modal"
  role="dialog"
  tabindex="-1"
  aria-modal="true"
  aria-label="Update user password"
  class="translate-y-full fixed bottom-0 left-0 min-h-screen w-full flex flex-col justify-end sm:justify-center bg-zinc-950/10 dark:bg-zinc-950/50 backdrop-blur z-[80] transition-transform duration-200"
>
  <div
    class="w-full max-w-sm mx-auto bg-zinc-50 dark:bg-zinc-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl sm:rounded-2xl px-8 pt-8 pb-10"
  >
    <div class="flex flex-col flex-grow relative">
      <!-- Back button -->
      <div class="absolute top-0 right-0">
        <button
          type="button"
          aria-label="Close update password modal"
          class="close-modal-btn p-1 sm:opacity-75 sm:hover:opacity-100 transition-all rounded-full focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-zinc-400"
        >
          <%- icon({name: 'X'}) %>
        </button>
      </div>

      <form
        id="update-password-form"
        class="folder-form w-full flex flex-col items-center gap-5"
        novalidate
      >
        <h2 class="text-xl font-semibold">Update password</h2>

        <!-- Old password -->
        <div class="w-full flex flex-col gap-1">
          <label
            for="old_password"
            class="capitalize text-sm font-medium text-zinc-600 dark:text-zinc-400"
          >
            Current Password
          </label>

          <div class="relative">
            <input
              type="password"
              id="old_password"
              name="old_password"
              value="<%= locals.oldInput?.old_password || '' %>"
              autocomplete="old-password"
              required
              aria-describedby="old-password-error"
              aria-invalid="false"
              class="w-full border border-zinc-300 dark:border-zinc-700 dark:bg-zinc-800 px-4 py-2 outline-none rounded-md dark:focus:bg-zinc-900 focus:border-lime-500 focus:ring-2 focus:ring-lime-50 dark:focus:border-lime-500 dark:focus:ring-lime-950 transition-colors duration-200"
            />

            <!-- toggle password show/hide -->
            <button
              type="button"
              aria-label="Show old password."
              class="toggle-psw absolute right-2 top-1/2 -translate-y-1/2 rounded-md text-zinc-500 dark:text-zinc-500 hover:text-zinc-600 dark:hover:text-zinc-400 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
            ></button>
          </div>

          <div
            id="old-password-error"
            class="hidden text-sm text-red-600"
            aria-live="polite"
          ></div>
        </div>

        <!-- New password -->
        <div class="w-full flex flex-col gap-1">
          <label
            for="new_password"
            class="capitalize text-sm font-medium text-zinc-600 dark:text-zinc-400"
          >
            New Password
          </label>

          <div class="relative">
            <input
              type="password"
              id="new_password"
              name="new_password"
              value="<%= locals.oldInput?.new_password || '' %>"
              autocomplete="new-password"
              required
              aria-describedby="new-password-error"
              aria-invalid="false"
              class="w-full border border-zinc-300 dark:border-zinc-700 dark:bg-zinc-800 px-4 py-2 outline-none rounded-md dark:focus:bg-zinc-900 focus:border-lime-500 focus:ring-2 focus:ring-lime-50 dark:focus:border-lime-500 dark:focus:ring-lime-950 transition-colors duration-200"
            />

            <!-- toggle password show/hide -->
            <button
              type="button"
              aria-label="Show new password."
              class="toggle-psw absolute right-3 top-1/2 -translate-y-1/2 rounded-md text-zinc-500 dark:text-zinc-500 hover:text-zinc-600 dark:hover:text-zinc-400 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
            ></button>
          </div>

          <div
            id="new-password-error"
            class="hidden text-sm text-red-600"
            aria-live="polite"
          ></div>
        </div>

        <!-- Confirm new password -->
        <div class="w-full flex flex-col gap-1">
          <label
            for="confirm_new_password"
            class="capitalize text-sm font-medium text-zinc-600 dark:text-zinc-400"
          >
            Confirm New Password
          </label>

          <div class="relative">
            <input
              type="password"
              id="confirm_new_password"
              name="confirm_new_password"
              value="<%= locals.oldInput?.confirm_new_password || '' %>"
              autocomplete="confirm-new-password"
              required
              aria-describedby="confirm-new-password-error"
              aria-invalid="false"
              class="w-full border border-zinc-300 dark:border-zinc-700 dark:bg-zinc-800 px-4 py-2 outline-none rounded-md dark:focus:bg-zinc-900 focus:border-lime-500 focus:ring-2 focus:ring-lime-50 dark:focus:border-lime-500 dark:focus:ring-lime-950 transition-colors duration-200"
            />

            <button
              type="button"
              aria-label="Show confirm new password."
              class="toggle-psw absolute right-3 top-1/2 -translate-y-1/2 rounded-md text-zinc-500 dark:text-zinc-500 hover:text-zinc-600 dark:hover:text-zinc-400 transition-colors focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
            ></button>
          </div>

          <div
            id="confirm-new-password-error"
            aria-live="polite"
            class="hidden text-sm text-red-600"
          ></div>
        </div>

        <div class="w-full flex flex-col mt-3">
          <button
            type="submit"
            class="w-full bg-lime-600 hover:bg-lime-600/90 py-2 outline-none text-zinc-50 font-medium rounded-md cursor-pointer transition-colors disabled:opacity-50 disabled:cursor-not-allowed focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script
  type="module"
  src="/scripts/components/modals/update-password-modal.js"
></script>
