<div class="w-full">
  <div class="flex flex-col gap-4 px-5 py-5">
    <div
      id="layout-container"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 grid-flow-row gap-5"
    >
      <% items.map(item => { %>
      <%- include('partials/layout-item', { category: item.category, name: item.name }) %>
      <% }) %>
    </div>
  </div>
</div>

<script type="module" src="/scripts/homepage.js"></script>
