<div class="w-full">
  <!-- 1280px container -->
  <div
    class="-mt-20 min-h-[calc(100vh-64px)] flex flex-col items-center justify-center text-center px-5"
  >
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold md:font-extrabold"
    >
      Online storage for everyone
    </h1>

    <p class="w-full max-w-3xl text-lg mt-4 mb-10 md:mt-8">
      Effortlessly upload your files, organize them, and share with anyone,
      anywhere. Secure, fast, and simple—just the way file sharing should be.
    </p>

    <a
      href="/auth/sign-up"
      class="md:mt-5 bg-yellow-400 text-zinc-950 hover:bg-yellow-500 py-2 px-8 rounded-md font-semibold transition-colors cursor-pointer focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    >
      Try <span class="uppercase">uploader</span> for free
    </a>
  </div>
</div>
