<div class="w-full">
  <!-- 1280px container -->
  <div
    class="-mt-20 min-h-[calc(100vh-64px)] flex flex-col items-center justify-center text-center px-5"
  >
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold md:font-extrabold"
    >
      Online storage for everyone
    </h1>

    <p class="w-full max-w-3xl text-lg mt-4 mb-10 md:mt-8">
      Effortlessly upload your files, organize them, and share with anyone,
      anywhere. Secure, fast, and simple—just the way file sharing should be.
    </p>

    <a
      href="/auth/sign-up"
      class="md:mt-5 bg-fuchsia-600 text-white hover:bg-fuchsia-600 border-stone-900 py-2 px-6 rounded-md font-medium transition-colors duration-200 cursor-pointer"
    >
      Try <span class="uppercase">uploader</span> for free
    </a>
  </div>
</div>
