<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="A stripped down version of personal storage service like Google Drive." />

		<!-- favicon -->

		<!-- styles -->
		<link rel="stylesheet" href="/styles/build.css" />

		<!-- scripts -->

		<title>File Uploader</title>
	</head>
	<body>
		<div><%- body %></div>
	</body>
</html>
