<div class="flex-grow flex flex-col items-center sm:justify-center gap-5 p-5">
  <form
    id="sign-in-form"
    action="/auth/sign-in"
    data-errors="<%= JSON.stringify(errors) || {} %>"
    method="post"
    class="w-full max-w-md flex flex-col gap-3 sm:px-12 sm:py-14 sm:shadow-md sm:border sm:border-gray-200 dark:sm:border-gray-800 sm:rounded-3xl"
    novalidate
  >
    <div class="mb-4">
      <h1 class="text-center text-3xl">Sign in</h1>
    </div>

    <div class="flex flex-col gap-1">
      <label
        for="email"
        class="capitalize text-sm font-medium text-gray-600 dark:text-gray-400"
      >
        Email
      </label>
      <input
        type="email"
        id="email"
        name="email"
        value="<%= locals.oldInput?.email || '' %>"
        autocomplete="email"
        required
        aria-describedby="email-error"
        aria-invalid="false"
        class="border border-gray-300 dark:border-gray-700 dark:bg-gray-800 px-3 py-2 outline-none rounded-sm dark:focus:bg-gray-900 focus:border-lime-500 focus:ring-2 focus:ring-lime-50 dark:focus:border-lime-500 dark:focus:ring-lime-950 transition-colors duration-200"
      />

      <div
        id="email-error"
        aria-live="polite"
        class="hidden text-sm text-red-600"
      ></div>
    </div>

    <div class="flex flex-col gap-1">
      <label
        for="password"
        class="capitalize text-sm font-medium text-gray-600 dark:text-gray-400"
      >
        Password
      </label>

      <div class="relative">
        <input
          type="password"
          id="password"
          name="password"
          value="<%= locals.oldInput?.password || '' %>"
          autocomplete="new-password"
          required
          aria-describedby="password-error"
          aria-invalid="false"
          class="w-full border border-gray-300 dark:border-gray-700 dark:bg-gray-800 px-3 py-2 outline-none rounded-sm dark:focus:bg-gray-900 focus:border-lime-500 focus:ring-2 focus:ring-lime-50 dark:focus:border-lime-500 dark:focus:ring-lime-950 transition-colors duration-200"
        />

        <!-- toggle password show/hide -->
        <button
          type="button"
          aria-label="Show password."
          class="toggle-psw absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 hover:text-gray-600 dark:hover:text-gray-400 transition-colors duration-200"
        ></button>
      </div>

      <div
        id="password-error"
        class="hidden text-sm text-red-600"
        aria-live="polite"
      ></div>
    </div>

    <div class="flex flex-col mt-3">
      <button
        type="submit"
        class="w-full bg-lime-600 hover:bg-lime-500 py-2 outline-none text-gray-50 font-medium rounded-sm cursor-pointer transition-colors duration-200 disabled:opacity-50 disabled:cursor-not-allowed focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
      >
        Sign in
      </button>
    </div>

    <div class="mt-3">
      <p class="text-center text-sm">
        Don't have an account?
        <a
          href="/auth/sign-up"
          class="underline font-semibold focus:outline-none focus:ring-2 focus:ring-gray-400"
        >
          Sign up
        </a>
        for one now
      </p>
    </div>
  </form>
</div>

<script type="module" src="/scripts/sign-in.js"></script>
