<div
  id="add-modal"
  role="dialog"
  aria-modal="true"
  aria-label="Show options to upload files or create folders"
  class="translate-y-full fixed bottom-0 left-0 min-h-screen w-full flex flex-col justify-end sm:justify-center bg-gray-950/10 dark:bg-gray-950/50 backdrop-blur z-[60] transition-transform duration-200"
>
  <div
    class="absolute bottom-0 left-0 min-h-[33vh] w-full flex-col bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl p-5"
  >
    <div class="flex justify-end mb-8">
      <button type="button" class="close-modal-btn">
        <%- icon({name: 'X'}) %>
      </button>
    </div>

    <ul class="flex-grow flex flex-col gap-8">
      <li>
        <button
          id="upload-btn-for-mobile"
          type="button"
          class="upload-modal-trigger w-full flex items-center gap-4"
        >
          <span>
            <%- icon({name: 'ImageUp', size: 24}) %>
          </span>
          <span>Upload file</span>
        </button>
      </li>

      <li>
        <button
          id="folder-btn-for-mobile"
          type="button"
          class="folder-form-modal-trigger w-full flex items-center gap-4"
        >
          <span>
            <%- icon({name: 'FolderPlus', size: 24}) %>
          </span>
          <span>New folder</span>
        </button>
      </li>
    </ul>
  </div>
</div>

<script type="module" src="/scripts/add-modal.js"></script>
