<div
  id="add-in-modal"
  class="hidden absolute bottom-0 left-0 min-h-[33vh] w-full flex-col bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl p-5"
>
  <div class="flex justify-end mb-8">
    <button type="button" class="close-modal-btn">
      <%- icon({name: 'X'}) %>
    </button>
  </div>

  <ul class="flex-grow flex flex-col gap-8">
    <li>
      <a href="/upload" class="flex items-center gap-4">
        <span>
          <%- icon({name: 'ImageUp', size: 24}) %>
        </span>
        <span>Upload file</span>
      </a>
    </li>

    <li>
      <button id="folder-btn" type="button" class="flex items-center gap-4">
        <span>
          <%- icon({name: 'FolderPlus', size: 24}) %>
        </span>
        <span>New folder</span>
      </button>
    </li>
  </ul>
</div>

<!-- <script type="module" src="scripts/add-modal.js"></script> -->
