<div
  id="add-modal"
  role="dialog"
  aria-modal="true"
  aria-label="Upload files or create folders"
  class="translate-y-full fixed bottom-0 left-0 min-h-screen w-full bg-gray-950/10 dark:bg-gray-950/50 backdrop-blur z-[60] transition-transform duration-200"
>
  <div
    class="absolute bottom-0 left-0 min-h-[33vh] w-full flex flex-col bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl p-5"
  >
    <div class="flex justify-end mb-8">
      <button type="button" id="close-add"><%- include('../icons/x') %></button>
    </div>

    <ul class="flex-grow flex flex-col gap-8">
      <!-- <button id="upload-btn" type="button" class="flex items-center gap-4">
        <span>
          <%- include('../icons/image-up') %>
        </span>
        <span>Upload file</span>
      </button> -->

      <li>
        <a href="/upload" class="flex items-center gap-4">
          <span>
            <%- include('../icons/image-up') %>
          </span>
          <span>Upload file</span>
        </a>
      </li>

      <li>
        <button
          id="new-folder-btn"
          type="button"
          class="flex items-center gap-4"
        >
          <span>
            <%- include('../icons/folder-plus') %>
          </span>
          <span>New folder</span>
        </button>
      </li>
    </ul>
  </div>
</div>
