<div
  id="folder-in-modal"
  class="hidden absolute bottom-0 left-0 min-h-[33vh] w-full flex-col bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl p-5"
>
  <div class="flex flex-col flex-grow">
    <!-- Back button -->
    <div class="flex justify-end mb-8">
      <button type="button" class="close-modal-btn">
        <%- icon({name: 'X'}) %>
      </button>
    </div>

    <!-- Folder form -->
    <form
      id="folder-form"
      action="/folders"
      method="post"
      class="relative w-full"
      novalidate
    >
      <div
        class="size-5 absolute top-1/2 -translate-y-1/2 left-4 text-gray-500"
        aria-hidden="true"
      >
        <%- icon({ name: 'FolderPlus' }) %>
      </div>
      <label for="folder-input" class="s">Create new Folder</label>
      <input
        id="folder-input"
        type="text"
        name="name"
        autocomplete="off"
        spellcheck="false"
        class="w-full pl-12 h-12 pr-8 outline-none rounded-md placeholder:text-gray-500 placeholder:font-light border border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-800"
      />

      <button type="submit">Create Folder</button>
    </form>
  </div>
</div>
