<!-- folder item template -->

<!-- 1. item id (folder-id) -->
<!-- 1. card href ("/folders/:folderId") -->
<!-- 2. folder name -->
<!-- 3. dataset.folder on folder details modal trigger button -->

<template id="folder-item-template">
  <a
    href=""
    class="item group w-full h-40 flex flex-col items-center justify-center gap-2 cursor-pointer focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 focus-visible:border-none focus-visible:outline-none dark:ring-offset-zinc-900 rounded-md transition-colors"
  >
    <!-- folder icon -->
    <div
      class="item-icon-wrapper w-full flex-grow flex items-center justify-center border rounded-md border-zinc-200 dark:border-zinc-800 group-hover:bg-sky-50 group-hover:dark:bg-sky-950/25 group-hover:border-sky-300 group-hover:dark:border-sky-800 transition-colors"
    >
      <span aria-hidden="true" class="item-icon block size-14 text-sky-400">
        <!-- prettier-ignore-start -->
        <%- icon({ name: 'Folder', fill: 'currentColor', className: 'w-full h-auto'}) %>
        <!-- prettier-ignore-end -->
      </span>
    </div>

    <!-- folder name -->
    <div class="item-info relative w-full text-center">
      <span
        class="folder-name text-sm inline-block w-[calc(100%-24px)] mx-auto truncate"
      >
        <!-- folder name -->
      </span>
      <button
        id=""
        type="button"
        aria-expanded="false"
        data-breadcrumbs="<%= JSON.stringify(locals.breadcrumbs || []) %>"
        class="folder-details-modal-trigger item-info-btn absolute top-1/2 right-0 -translate-y-1/2 py-1 px-0.5 rounded-sm text-zinc-500 sm:opacity-0 opacity-100 group-hover:opacity-100 hover:dark:bg-zinc-800 hover:bg-zinc-100 focus-visible:opacity-100 focus-visible:p-0 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 focus-visible:outline-none focus-visible:border-none focus-visible:dark:ring-offset-zinc-900 transition-all"
      >
        <%- icon({name: 'EllipsisVertical'}) %>
      </button>
    </div>
  </a>
</template>
