<div
  id="share-modal"
  role="dialog"
  aria-modal="true"
  aria-label="Generate and show share link"
  class="translate-y-full fixed bottom-0 left-0 min-h-screen w-full flex flex-col justify-end sm:justify-center bg-gray-950/10 dark:bg-gray-950/50 backdrop-blur z-[60] transition-transform duration-200"
>
  <div
    class="w-full max-w-lg mx-auto bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl sm:rounded-2xl px-5 py-5"
  >
    <div class="flex flex-col flex-grow relative">
      <!-- Header with close button -->
      <div class="flex justify-between items-center mb-5">
        <h2 class="text-xl font-bold">Share link</h2>

        <button
          type="button"
          aria-label="Close upload modal"
          class="close-modal-btn p-2 hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg transition-colors"
        >
          <%- icon({ name: 'X' }) %>
        </button>
      </div>

      <!-- Share Result -->
      <div class="flex flex-col gap-4">
        <!-- File name -->
        <div>
          <span
            id="share-name"
            class="text-gray-700 dark:text-gray-300 truncate"
          >
            <!-- File name here -->
            File name
          </span>
        </div>

        <!-- Share link -->
        <div>
          <input
            type="text"
            id="share-url"
            readonly
            value="Generating share link..."
            class="w-full border border-gray-300 text-gray-600 dark:text-gray-400 dark:border-gray-700 dark:bg-gray-800 px-3 py-2 outline-none rounded-sm dark:focus:bg-gray-900 focus:border-lime-500 focus:ring-2 focus:ring-lime-50 dark:focus:border-lime-500 dark:focus:ring-lime-950 transition-colors duration-200 truncate"
          />
        </div>

        <div>
          <p class="text-gray-400 dark:text-gray-500 text-sm">
            Anyone with this link can view and download.
          </p>
        </div>

        <div>
          <p id="share-error" class="hidden text-red-500">Share error</p>
        </div>

        <div class="flex sm:justify-end my-2">
          <button
            id="copy-link-btn"
            type="button"
            class="w-full sm:w-fit px-6 bg-gray-900 text-gray-100 dark:text-gray-900 dark:bg-gray-100 hover:bg-gray-800 dark:hover:bg-gray-300 py-2 outline-none font-medium rounded-sm cursor-pointer transition-colors duration-200 focus:ring-2 focus:ring-neutral-400 focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed"
          >
            Copy link
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/scripts/share-modal.js"></script>
