<div
  id="upload-in-modal"
  class="hidden w-full max-w-sm mx-auto bg-gray-50 dark:bg-gray-900 shadow-[0_-5px_15px_rgba(0,0,0,0.1)] rounded-t-2xl sm:rounded-2xl px-5 pt-5 pb-10"
>
  <div class="flex flex-col flex-grow relative">
    <!-- Back button -->
    <div class="absolute top-0 right-0">
      <button type="button" class="close-modal-btn">
        <%- icon({name: 'X'}) %>
      </button>
    </div>

    <!-- Folder form -->
    <form
      id="upload-form"
      action="/folders"
      method="post"
      data-errors="<%= JSON.stringify(locals.errors) || {} %>"
      class="w-full flex flex-col items-center gap-8"
      novalidate
    >
      <h2 class="text-xl font-semibold">New folder</h2>
      <input
        type="hidden"
        name="parentFolderId"
        value="<%= locals.currentFolder ? currentFolder.id : '' %>"
      />

      <div class="w-full">
        <input
          type="text"
          name="name"
          autocomplete="off"
          spellcheck="false"
          aria-describedby="name-error"
          aria-invalid="false"
          value="<%= locals.oldInput?.name || '' %>"
          class="w-full px-5 py-2 outline-none rounded-md border border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-800"
        />

        <div
          id="name-error"
          aria-live="polite"
          class="hidden text-sm text-red-600 mt-1"
        ></div>
      </div>

      <button
        type="submit"
        class="w-full bg-gray-900 dark:bg-gray-50 py-2 outline-none text-gray-50 dark:text-gray-950 font-medium rounded-md cursor-pointer focus:ring-2 focus:ring-neutral-400 focus:ring-offset-2 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Upload
      </button>
    </form>
  </div>
</div>
