<!-- Create folder button and upload file button - hidden on search route -->

<% if (!locals.currentPath.includes('search')) { %>

<div class="hidden sm:flex items-center gap-4 h-16">
  <button
    type="button"
    aria-expanded="false"
    class="upload-modal-trigger flex items-center justify-center gap-1 py-1.5 px-4 rounded-sm font-normal border border-transparent text-gray-950 bg-yellow-400 hover:bg-yellow-400/80 dark:text-gray-900 dark:bg-yellow-400 dark:hover:bg-amber-300 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-gray-400 dark:focus-visible:ring-offset-gray-900"
  >
    <span><%- icon({name: 'ArrowUp', size: 18}) %></span>
    <span>Upload</span>
  </button>
  <button
    type="button"
    aria-expanded="false"
    class="folder-form-modal-trigger flex items-center justify-center gap-1 py-1.5 px-3 rounded-sm font-normal border border-gray-200 text-gray-950 dark:border-gray-700 dark:text-gray-50 hover:bg-gray-50 hover:border-gray-300 dark:hover:bg-gray-800/20 dark:hover:border-gray-600 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-gray-400 dark:focus-visible:ring-offset-gray-900"
  >
    <span><%- icon({name: 'FolderPlus', size: 18}) %></span>
    <span>New folder</span>
  </button>
</div>

<% } %>
