<!-- dropdown toggle -->

<li class="">
  <button
    id="dropdown-toggle"
    class="hidden sm:block size-8 cursor-pointer group rounded-full focus-visible:border-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    aria-label="Toggle dropdown menu"
    aria-expanded="false"
    aria-controls="dropdown-content"
    type="button"
  >
    <span
      class="icon-wrapper bg-teal-400 size-8 text-zinc-50 text-xl flex items-center justify-center rounded-full group-hover:bg-teal-400/75 transition-colors"
    >
      <%= formatAvatar(currentUser) %>
    </span>
  </button>
</li>

<!-- dropdown content -->

<div
  id="dropdown-content"
  aria-hidden="true"
  class="hidden absolute top-full right-5 w-60 translate-y-1 px-5 py-1 bg-white dark:bg-zinc-900 dark:border-zinc-700 border rounded-lg z-[100] shadow-lg"
>
  <ul class="w-full flex flex-col font-medium">
    <li class="py-4 border-zinc-200 dark:border-zinc-800">
      <a
        href="/users/profile"
        class="w-full flex items-center gap-3 p-1 rounded-md text-start dark:border-zinc-800 font-medium focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
      >
        <span aria-hidden="true"><%- icon({name: 'Settings'}) %></span>
        <span>Settings</span>
      </a>
    </li>
    <li class="py-4 border-t border-zinc-200 dark:border-zinc-800">
      <form action="/auth/sign-out" method="post">
        <button
          type="submit"
          role="menuitem"
          class="w-full flex items-center gap-3 p-1 rounded-md text-start dark:border-zinc-800 font-medium focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span aria-hidden="true"><%- icon({ name: 'LogOut' }) %></span>
          <span>Sign out</span>
        </button>
      </form>
    </li>
  </ul>
</div>

<script type="module" src="/scripts/components/dropdown.js"></script>
