<!-- Hamburger menu toggle -->

<button
  id="menu-toggle"
  class="sm:hidden size-8 flex items-center justify-center rounded-full cursor-pointer focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
  aria-label="Toggle navigation menu"
  aria-expanded="false"
  aria-controls="menu-content"
  type="button"
>
  <% if (locals.currentUser) { %>
  <span
    class="bg-teal-400 size-8 flex items-center justify-center text-zinc-50 text-xl rounded-full"
  >
    <%= formatAvatar(currentUser) %>
  </span>
  <% } else { %>
  <span class="text-zinc-700 dark:text-zinc-50">
    <%- icon({name: 'Menu', size: 20}) %>
  </span>
  <% } %>
</button>

<!-- Hamburger menu content -->

<div
  id="menu-content"
  aria-hidden="true"
  class="hidden fixed top-16 left-0 -translate-x-full w-full h-[calc(100vh-64px)] bg-white text-zinc-950 dark:bg-zinc-900 dark:text-zinc-50 transition-transform duration-200 z-[100]"
>
  <% if (locals.currentUser) { %>

  <ul class="w-full flex flex-col font-medium px-5">
    <li class="py-5 border-b border-zinc-200 dark:border-zinc-800">
      <a
        href="/users/profile"
        class="w-full flex items-center gap-3 p-1 rounded-md text-start dark:border-zinc-800 font-medium focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
      >
        <span aria-hidden="true"><%- icon({name: 'Settings'}) %></span>
        <span>Settings</span>
      </a>
    </li>
    <li class="py-5 border-b border-zinc-200 dark:border-zinc-800">
      <form action="/auth/sign-out" method="post">
        <button
          type="submit"
          role="menuitem"
          class="w-full flex items-center gap-3 p-1 rounded-md text-start font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
        >
          <span aria-hidden="true"><%- icon({name: 'LogOut'}) %></span>
          <span>Sign out</span>
        </button>
      </form>
    </li>
    <li class="py-5 border-b border-zinc-200 dark:border-zinc-800">
      <button
        type="button"
        class="theme-toggle w-full flex items-center gap-2 p-1 rounded-md font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
      >
        <span aria-hidden="true" class="theme-icon"></span>
        <span class="theme-text">Switch to dark mode</span>
      </button>
    </li>
  </ul>
  <% } else { %>
  <ul class="w-full flex flex-col font-medium p-5">
    <li class="py-5 border-b border-zinc-200 dark:border-zinc-800">
      <a
        href="/auth/sign-in"
        class="block p-1 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-zinc-400"
      >
        <span>Sign in</span>
      </a>
    </li>

    <li class="py-5 border-b border-zinc-200 dark:border-zinc-800">
      <a
        href="/auth/sign-up"
        class="block p-1 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-zinc-400"
      >
        <span>Sign up</span>
      </a>
    </li>

    <li class="py-5 border-b border-zinc-200 dark:border-zinc-800">
      <button
        type="button"
        class="theme-toggle w-full flex items-center gap-2 p-1 rounded-md font-medium focus:outline-none focus:ring-2 focus:ring-zinc-400"
      >
        <span aria-hidden="true" class="theme-icon"></span>
        <span class="theme-text">Switch to dark mode</span>
      </button>
    </li>
  </ul>
  <% } %>

  <!-- bottom -->
  <div
    class="absolute bottom-0 left-0 w-full h-16 border-t border-zinc-200 dark:border-zinc-800"
  >
    <span
      class="block text-center leading-[64px] text-zinc-300 dark:text-zinc-700 font-semibold"
    >
      Menu
    </span>
  </div>
</div>

<script type="module" src="/scripts/components/hamburger-menu.js"></script>
