<ul class="flex items-center">
  <!-- Theme toggle -->
  <li class="hidden sm:block mr-3">
    <button
      type="button"
      class="theme-toggle flex items-center justify-center size-8 p-1 hover:bg-zinc-200/60 dark:hover:bg-zinc-800 rounded-full transition-colors cursor-pointer focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    >
      <span aria-hidden="true" class="theme-icon"></span>
      <span class="sr-only" class="theme-text"></span>
    </button>
  </li>

  <% if (!locals.currentUser) { %>
  <li class="hidden sm:block mr-3">
    <a
      href="/auth/sign-in"
      class="border border-zinc-200 text-zinc-950 dark:border-zinc-700/75 dark:text-zinc-50 py-2 px-4 rounded-md font-medium hover:bg-zinc-100 dark:hover:bg-zinc-800 transition-colors cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
      >Sign in</a
    >
  </li>

  <li class="hidden sm:block">
    <a
      href="/auth/sign-up"
      class="border border-transparent text-zinc-50 bg-zinc-800 hover:bg-zinc-700 dark:text-zinc-950 dark:bg-zinc-100 dark:hover:bg-zinc-200 py-2 px-4 rounded-md font-medium transition-colors cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    >
      Sign up
    </a>
  </li>
  <% } %>

  <% if (locals.currentUser) { %>
  <li>
    <%- include('../components/dropdown') %>
  </li>
  <% } %>

  <li>
    <%- include('../components/hamburger-menu') %>
  </li>
</ul>
