<ul class="flex items-center">
  <!-- Theme toggle -->
  <li class="hidden sm:block mr-3">
    <button
      type="button"
      class="theme-toggle flex items-center justify-center size-8 p-1 hover:bg-zinc-200/60 dark:hover:bg-zinc-800 rounded-full transition-colors cursor-pointer focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    >
      <span aria-hidden="true" class="theme-icon"></span>
      <span class="sr-only" class="theme-text"></span>
    </button>
  </li>

  <% if (!locals.currentUser) { %>
  <li class="hidden sm:block mr-3">
    <a
      href="/auth/sign-in"
      class="border border-lime-700 text-lime-700 dark:border-lime-400 dark:text-lime-400 py-1.5 px-5 rounded-sm font-medium hover:bg-lime-100 dark:hover:bg-lime-900/30 transition-colors cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
      >Sign in</a
    >
  </li>

  <li class="hidden sm:block">
    <a
      href="/auth/sign-up"
      class="border border-transparent bg-lime-600 hover:bg-lime-600/90 text-white py-1.5 px-5 rounded-sm font-medium transition-colors cursor-pointer focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-900"
    >
      Sign up
    </a>
  </li>
  <% } %>

  <% if (locals.currentUser) { %>
  <li>
    <%- include('../components/dropdown') %>
  </li>
  <% } %>

  <li>
    <%- include('../components/hamburger-menu') %>
  </li>
</ul>
