<% if (locals.currentUser && !locals.currentPath.includes('/profile/')) { %>
<form
  id="search-form-on-desktop"
  method="get"
  class="hidden sm:block relative w-full max-w-xl"
  novalidate
>
  <div
    id="search-indicator"
    class="size-5 absolute top-1/2 -translate-y-1/2 left-4 text-zinc-500"
    aria-hidden="true"
  >
    <%- icon({ name: 'Search' }) %>
  </div>

  <label for="search-desktop" class="sr-only">
    Search for folders or files
  </label>

  <input
    type="text"
    name="q"
    value="<%= locals.searchQuery || '' %>"
    aria-label="Search input"
    autocomplete="off"
    spellcheck="false"
    class="w-full pl-12 h-11 pr-8 outline-none rounded-md placeholder:text-zinc-500 placeholder:font-light border border-zinc-200 dark:border-zinc-700 bg-zinc-100 dark:bg-zinc-800 focus-visible:border-zinc-300 focus-visible:bg-zinc-50 dark:focus-visible:border-zinc-600 dark:focus-visible:bg-zinc-900 transition-colors"
    placeholder="Search..."
  />

  <button
    type="button"
    aria-label="Clear search"
    class="hidden absolute top-1/2 right-4 -translate-y-1/2 size-6 text-zinc-500 cursor-pointer p-0.5 rounded-full dark:hover:text-zinc-100 hover:text-zinc-900 transition-all focus-visible:outline-none focus-visible:border-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-zinc-400 dark:focus-visible:ring-offset-zinc-800"
  >
    <%- icon({name: 'X'}) %>
  </button>
</form>
<% } %>

<script
  type="module"
  src="/scripts/components/search-form-on-desktop.js"
></script>
